[submodule "include/boost/kernelalloc/bindlib"]
	path = include/boost/kernelalloc/bindlib
	url = https://github.com/ned14/Boost.BindLib.git
[submodule "include/boost/kernelalloc/spinlock"]
	path = include/boost/kernelalloc/spinlock
	url = https://github.com/ned14/boost.spinlock.git
